default:
  SECRET_KEY: j3k53g45jkg34kj5g43j5g34j5g
  TMDB_TOKEN: k234lk23h4kj23h4kl32h4
  INSTAGRAM_CLIENT_ID: 234234324234234
  INSTAGRAM_CLIENT_SECRET: 345ljk34g5jk34g5k34g5k345g
  DATABASES:
    default:
      ENGINE: django.db.backends.postgresql_psycopg2
      NAME: dateflix
      USER: dateflix
      PASSWORD: SecretPassword
      HOST: db
      PORT: 5432
