appdirs==1.4.4
asgiref==3.2.10
attrs==19.3.0
beautifulsoup4==4.9.1
black==19.10b0
certifi==2020.6.20
cfgv==3.1.0
chardet==3.0.4
click==7.1.2
coverage==5.1
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.6
django-cors-headers==3.4.0
django-extensions==3.0.2
django-filter==2.3.0
django-heroku==0.3.1
djangorestframework==3.11.2
djangorestframework-simplejwt==4.4.0
dynaconf==3.0.0
filelock==3.0.12
flake8==3.8.3
gunicorn==20.0.4
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.7.15
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
identify==1.4.21
idna==2.10
isort==4.3.21
Markdown==3.2.2
mccabe==0.6.1
more-itertools==8.4.0
mypy==0.782
mypy-extensions==0.4.3
nodeenv==1.4.0
packaging==20.4
pathspec==0.8.0
pluggy==0.13.1
pre-commit==2.5.1
psycopg2==2.8.5
psycopg2-binary==2.8.5
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
PyJWT==1.7.1
pyparsing==2.4.7
pytest==5.4.3
pytest-cov==2.10.0
pytz==2020.1
PyYAML==5.3.1
regex==2020.6.8
rfc3986==1.4.0
six==1.15.0
sniffio==1.1.0
soupsieve==2.0.1
sqlparse==0.3.1
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.2
virtualenv==20.0.25
wcwidth==0.2.5
whitenoise==5.1.0
